<div id="<%= dom_id appointment %>">
  <p>
    <strong>Doctor:</strong>
    <%= @doctor.name %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= @patient.name %>
  </p>

  <p>
    <strong>Scheduled:</strong>
    <%= appointment.scheduled.to_fs(:long_ordinal) %>
  </p>

</div>
