<p style="color: green"><%= notice %></p>

<% content_for :title, "Appointments" %>

<h2 class="mb-3">Appointments</h2>

<div id="appointments">
  <ol class="list-group numbered">
  <% @appointments.each do |appointment| %>
    <%= link_to appointment, class: "nav-link link-dark" do %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <span>
            <%= appointment.doctor.name %>
          </span>
          <span>
            <%= appointment.scheduled %>
          </span>
        </div>
      </li>
    <% end %>
  <% end %>
  </ol>
</div>
