<h2 class="mb-3">Appointments</h2>

<div id="appointments">
  <ol class="list-group">
    <% @appointments.each do |appointment| %>
      <li class="list-group-item">
        <%= link_to appointment, class: "nav-link link-dark" do %>
          <div class="d-flex justify-content-between">
            <span>
              Doctor: <%= appointment.doctor.name %>
            </span>
            <span>
              <%= appointment.scheduled %>
            </span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
